.swagger-ui .topbar {
    background: rgb(62, 59, 185);
}


/*post*/

.swagger-ui .opblock.opblock-post {
    border-color: #3e48d6;
    background: #fff;
    border-radius: 3px;
}

.swagger-ui .opblock.opblock-post .opblock-summary-method {
    background: #3e48d6;
    border-radius: 3px;
}

.swagger-ui .opblock.opblock-post .opblock-summary {
    border-color: #3e48d6;
}

.swagger-ui .opblock.opblock-post .tab-header .tab-item.active h4 span:after {
    background: #3e48d6;
}


/*get*/

.swagger-ui .opblock.opblock-get {
    border-color: #4295e2;
    background: #fff;
    border-radius: 3px;
}

.swagger-ui .opblock.opblock-get .opblock-summary-method {
    background: #4295e2;
    border-radius: 3px;
}

.swagger-ui .opblock.opblock-get .opblock-summary {
    border-color: #4295e2;
}

.swagger-ui .opblock.opblock-get .tab-header .tab-item.active h4 span:after {
    background: #4295e2;
}


/*patch*/

.swagger-ui .opblock.opblock-patch {
    border-color: #fad868;
    background: #fff;
    border-radius: 3px;
}

.swagger-ui .opblock.opblock-patch .opblock-summary-method {
    background: #fad868;
    color: #000;
    border-radius: 3px;
}

.swagger-ui .opblock.opblock-patch .opblock-summary {
    border-color: #fad868;
}

.swagger-ui .opblock.opblock-patch .tab-header .tab-item.active h4 span:after {
    background: #fad868;
}


/*delete*/

.swagger-ui .opblock.opblock-delete {
    border-color: #f677b3;
    background: #fff;
    border-radius: 3px;
}

.swagger-ui .opblock.opblock-delete .opblock-summary-method {
    background: #f677b3;
    border-radius: 3px;
}

.swagger-ui .opblock.opblock-delete .opblock-summary {
    border-color: #f677b3;
}

.swagger-ui .opblock.opblock-delete .tab-header .tab-item.active h4 span:after {
    background: #f677b3;
}

img {
    height: 100px;
}