body {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("http://cdn.mutedevs.nl/azurlaneapi/indexImage.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: ease-in-out 0.5s;
}

* {
    box-sizing: border-box;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.logo {
    width: 15em;
}

.fadeComponent {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.mainContainer {
    color: white;
    padding-top: 50px;
    top: 10%;
    /* left: 20vw; */
    /* z-index: 2; */
    /* padding: 100px; */
    text-align: center;
}

@font-face {
    font-family: 'Alexis Marie';
    src: url('AlexisMarie.woff2') format('woff2'), url('AlexisMarie.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.alexisText {
    font-family: 'Alexis Marie';
    word-wrap: break-word;
}

h1 {
    font-size: 5.5em;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 10px;
}

.columnImage {
    /* Add a 3 pixel white border */
    border-width: 3px;
    border-style: solid;
    border-color: white;
}

.btn-primary {
    background-color: #226BDE;
}

.pb-3 {
    text-align: center;
}