@{
    Layout = "~/Views/Layouts/_Base.cshtml";
}

<img src="http://cdn.mutedevs.nl/git/AzurLaneAPI/AzurLaneLogo.png" class="logo" />
<h1 class="alexisText fadeComponent">Azur Lane API</h1>
<h2 class="alexisText fadeComponent">A free open API to retrieve data about Azur Lane</h2>
<br />
<img src="http://cdn.mutedevs.nl/git/AzurLaneAPI/cf9530ab-fdcf-49c1-976d-0a43cb4ca3a4.png" width="60%" />
<br /><br /><br />

<div class="container">
    <div class="row fadeComponent">
        <div class="col-sm">
            <h3 class="alexisText">GitHub Repository</h3>
            <a href="https://github.com/Myuuiii/AzurLaneAPI">
                <img class="card-img-top columnImage" src="http://cdn.mutedevs.nl/azurlaneapi/repoBanner.png" alt="GitHub Repository Social Image">
            </a>
        </div>
        <div class="col-sm">
            <h3 class="alexisText">API Tokens</h3>
            <a href="/TokenRequest">
                <img class="card-img-top columnImage" src="http://cdn.mutedevs.nl/azurlaneapi/ApiTokenPanel.png" alt="Request an API Token">
            </a>
        </div>
        <div class="col-sm">
            <h3 class="alexisText">Routes</h3>
            <a href="/swagger">
                <img class="card-img-top columnImage" src="http://cdn.mutedevs.nl/azurlaneapi/RoutesPanel.png" alt="View Available Routes">
            </a>
        </div>
    </div>
</div>