@{
	Layout = "~/Views/Layouts/_Base.cshtml";
}

<a href="/">
	<img src="http://cdn.mutedevs.nl/git/AzurLaneAPI/AzurLaneLogo.png" class="logo" />
</a>

<h1 class="alexisText fadeComponent">API Keys</h1>
<h2 class="alexisText fadeComponent">API Keys are only for the developers of this API</h2>
<br />
<img src="http://cdn.mutedevs.nl/git/AzurLaneAPI/cf9530ab-fdcf-49c1-976d-0a43cb4ca3a4.png" width="60%" />
<br /><br /><br />

<h3 class="alexisText fadeComponent">Contact Myu#0001 on Discord if you want to contribute to the API</h3>
<img class="fadeComponent" src="http://cdn.mutedevs.nl/azurlaneapi/Construction.png" />
