@{
	Layout = "~/Views/Layouts/_Base.cshtml";
}

<a href="/">
	<img src="http://cdn.mutedevs.nl/git/AzurLaneAPI/AzurLaneLogo.png" class="logo" />
</a>

<h1 class="alexisText fadeComponent">API Key Request</h1>
<h2 class="alexisText fadeComponent">Keys are not required to use this API, you will only need a key for bulk requests</h2>
<br />
<img src="http://cdn.mutedevs.nl/git/AzurLaneAPI/cf9530ab-fdcf-49c1-976d-0a43cb4ca3a4.png" width="60%" />
<br /><br /><br />

<h3 class="alexisText fadeComponent">This page is currently under construction</h3>
<img class="fadeComponent" src="http://cdn.mutedevs.nl/azurlaneapi/Construction.png" />
