<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Azur Lane API</title>
    <link rel="stylesheet" href="~/docs/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <meta property="og:title" content="Azur Lane API" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://api.laffey.mutedevs.nl" />
    <meta property="og:image" content="http://cdn.mutedevs.nl/git/LaffeyAPI/AzurLaneLogo.png" />
    <meta property="og:description" content="Open Unofficial Azur Lane REST API (No API key required!)" />
    <meta name="theme-color" content="#1F6FE1">
</head>

<body>

    <div class="mainContainer">
        @RenderBody()
    </div>

</body>

</html>